.site-nav {
  +mobile() {
    position: fixed;
    left: 0;
    top: 0px;
    margin: 0;
    width: 100%;
    padding: 0;
    background: #333;
    z-index: 1;
  }
}

.menu {
  +mobile() { text-align: left; }
}
.menu .menu-item {
  +mobile() {
    display: block;
    margin: 0 10px;
    text-align:center;
    vertical-align: top;
  }

  br {
    +mobile() { display: none; }
  }

  a {
    +mobile() { padding: 5px 10px; }
  }
  .fa { margin-right: 0; }
}
