.header { 
    display: block;
    z-index: 900;
    width: 100%;
    max-width: none;
    height: 700px;
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(http://ww1.sinaimg.cn/large/0064M6zfgw1f8t2hw3cfoj31kw11x7wh.jpg);
    background-position:top center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
}
.header-inner { position: relative;}

.author-image {
  display: block;
  margin: 80px auto;
  height: 175px;
  width:175px;
  border-radius:50%
}

.links-of-author { text-align:center;margin-top: 20px; }

.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: $black-light;
  font-size: 13px;
  color:#aaa
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
